<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_endpoint</key>
	<string>https://api.demo.tokend.io</string>
	<key>storage_endpoint</key>
	<string>https://s3.eu-west-1.amazonaws.com/demo-identity-storage-festive-colden</string>
	<key>terms_address</key>
	<string>https://demo.tokend.io/terms</string>
	<key>kyc</key>
	<string>https://demo.tokend.io/verification</string>
</dict>
</plist>
