// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ONLY_ACTIVE_ARCH = YES
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
DEBUG_INFORMATION_FORMAT = dwarf // dwarf and dwarf-with-dsym
ENABLE_TESTABILITY = YES
VALIDATE_PRODUCT = NO
COPY_PHASE_STRIP = YES
TARGETED_DEVICE_FAMILY = 1 // 1 for iPhone, 2 for iPad
IPHONEOS_DEPLOYMENT_TARGET = 11.0
CURRENT_PROJECT_VERSION = 0.0.0
MARKETING_VERSION = 0
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DEBUG
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_COMPILATION_MODE = Incremental

